{% if listener['value']['ssl_enabled'] | default(ssl_enabled) | bool %}
listener.name.{{listener.value.name|lower}}.ssl.truststore.location={{kafka_broker_truststore_path}}
listener.name.{{listener.value.name|lower}}.ssl.truststore.password={{kafka_broker_truststore_storepass}}
listener.name.{{listener.value.name|lower}}.ssl.keystore.location={{kafka_broker_keystore_path}}
listener.name.{{listener.value.name|lower}}.ssl.keystore.password={{kafka_broker_keystore_storepass}}
listener.name.{{listener.value.name|lower}}.ssl.key.password={{kafka_broker_keystore_keypass}}
{% if listener['value']['pkcs12_enabled'] | default(pkcs12_enabled) | bool %}
listener.name.{{listener.value.name|lower}}.ssl.keymanager.algorithm=PKIX
listener.name.{{listener.value.name|lower}}.ssl.trustmanager.algorithm=PKIX
listener.name.{{listener.value.name|lower}}.ssl.keystore.type=pkcs12
listener.name.{{listener.value.name|lower}}.ssl.truststore.type=pkcs12
listener.name.{{listener.value.name|lower}}.ssl.enabled.protocols=TLSv1.2
{% endif %}
{% endif %}
{% if listener['value']['ssl_mutual_auth_enabled'] | default(ssl_mutual_auth_enabled) | bool %}
listener.name.{{listener.value.name|lower}}.ssl.client.auth=required
{% endif %}
{% if listener['value']['sasl_protocol'] | default(sasl_protocol) | normalize_sasl_protocol == 'PLAIN' %}
listener.name.{{listener.value.name|lower}}.sasl.enabled.mechanisms=PLAIN
listener.name.{{listener.value.name|lower}}.plain.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required \
  username="{{sasl_plain_users.admin.principal}}" password="{{sasl_plain_users.admin.password}}" \
{% for user in sasl_plain_users|dict2items %}
  user_{{ user['value']['principal'] }}="{{ user['value']['password'] }}"{% if loop.index != loop|length %} \
{% else %}
;
{% endif %}
{% endfor %}
{% endif %}
{% if listener['value']['sasl_protocol'] | default(sasl_protocol) | normalize_sasl_protocol == 'GSSAPI' %}
listener.name.{{listener.value.name|lower}}.sasl.enabled.mechanisms=GSSAPI
listener.name.{{listener.value.name|lower}}.sasl.kerberos.service.name={{kerberos_kafka_broker_primary}}
listener.name.{{listener.value.name|lower}}.gssapi.sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
  useKeyTab=true \
  storeKey=true \
  keyTab="{{kerberos.keytab_dir}}/{{kafka_broker_kerberos_keytab_path | basename}}" \
  principal="{{kafka_broker_kerberos_principal}}";
{% endif %}
{% if listener['value']['sasl_protocol'] | default(sasl_protocol) | normalize_sasl_protocol == 'SCRAM-SHA-256' %}
listener.name.{{listener.value.name|lower}}.sasl.enabled.mechanisms=SCRAM-SHA-256
listener.name.{{listener.value.name|lower}}.scram-sha-256.sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required \
   username="{{sasl_scram_users.admin.principal}}" password="{{sasl_scram_users.admin.password}}";
{% endif %}
{% if listener['value']['sasl_protocol'] | default(sasl_protocol) | normalize_sasl_protocol == 'OAUTHBEARER' %}
listener.name.{{listener.value.name|lower}}.sasl.enabled.mechanisms=OAUTHBEARER
listener.name.{{listener.value.name|lower}}.oauthbearer.sasl.server.callback.handler.class=io.confluent.kafka.server.plugins.auth.token.TokenBearerValidatorCallbackHandler
listener.name.{{listener.value.name|lower}}.oauthbearer.sasl.login.callback.handler.class=io.confluent.kafka.server.plugins.auth.token.TokenBearerServerLoginCallbackHandler
listener.name.{{listener.value.name|lower}}.oauthbearer.sasl.jaas.config=org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required \
    publicKeyPath="{{rbac_enabled_public_pem_path}}";
{% endif %}
